/*body styles */
body {
  background-color: #EAF6F;
}
/*horizontal row styling*/
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  opacity: .5;
}
/*Header 1 styling*/
h1 {
  color: #0f4c75;
}
/*Hearder 3 styling */
h3 {
  color: #66BFBF;
  text-align: center;
  }

/*Style for everything in the class extras*/
.extras {
  text-align: center;
}
 .picture {
   border-radius: 100%;
 }
